<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
        Tab 1
        </ion-title>
    </ion-toolbar>
    
</ion-header>

<ion-content id = "stlviewer" class="no-scroll">
    <ion-fab horizontal="start" vertical="top" slot="fixed">
        <ion-fab-button (click)="inputFile.click()">
            <ion-icon name="add"></ion-icon>  
        </ion-fab-button>
        <input #inputFile style="opacity:0" type="file" (change)="handleSTL($event.target.files)">
      </ion-fab>
</ion-content>
